src/test/resources/neo4j-connector-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:neo4j="http://www.mulesoft.org/schema/mule/neo4j"
    xsi:schemaLocation="
            http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/neo4j http://www.mulesoft.org/schema/mule/neo4j/current/mule-neo4j.xsd">

    <neo4j:config name="neo4j" />

    <flow name="test">
        <neo4j:get-service-root />

        <neo4j:run-cypher-query>
            <neo4j:cypher-query
                query="start x  = node(0) match x -[r]-> n return type(r)" />
        </neo4j:run-cypher-query>

        <neo4j:get-node-by-id nodeId="0" failIfNotFound="true" />
        <neo4j:get-node-by-id nodeId="37800000" />

        <neo4j:create-node />
        <neo4j:create-node>
            <neo4j:properties>
                <neo4j:property key="foo">bar</neo4j:property>
            </neo4j:properties>
        </neo4j:create-node>

        <neo4j:delete-node-by-id nodeId="37800000" />
        <neo4j:delete-node-by-id nodeId="37800000"
            failIfNotFound="true" />

        <neo4j:delete-node node-ref="#[message.payload]" />
        <neo4j:delete-node node-ref="#[message.payload]" failIfNotFound="true" />
    </flow>
</mule>